


.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 0 2rem;
  gap: 1.5rem;
  max-width: 90rem;
  margin: 4rem auto 12.8rem auto;
}

.card {
  background: var(--card);
  padding: 1.2rem;
  height: 100%;
  border-radius: 1.2rem;
  box-shadow: var(--shadow);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
 min-height: 32rem;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}
.card:hover img {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  background-color: #f3f3f3;
  border-radius: 1.2rem;
  box-shadow: var(--shadow);
  margin-bottom: 3.2rem;
  transition: 0.3s;
}

.card h3 {
  font-size: 1.2rem;
}
.card p {
  font-size: 1rem;
}

.btnFavorite {
  font-size: 1.4rem;
  border: none;
  outline: none;
  padding: 0.4rem 0.8rem;
  margin-top: auto;
  border-radius: 0.8rem;
  color: var(--text);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
 background-color: var(--bg);
}
.btnFavorite:active {
  background-color: var(--primary);
}

.activeFavorite{
background-color: var(--primary);
color: var(--card);
}

.link {
  text-decoration: none;
}
.badge {
  display: inline-block;
  color: var(--primary);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  width: fit-content;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
.actions {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
}
